@font-face {
  font-family: 'figtree-bold';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/figtree-bold.woff') format('woff');
}

@font-face {
  font-family: 'figtree-light';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/figtree-light.woff') format('woff');
}

@font-face {
  font-family: 'figtree-semibold';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/figtree-semibold.woff') format('woff');
}
