html,
body {
  /* Padrão Firefox */
  scrollbar-color: var(--cor-roxo-escuro) var(--cor-azul-forte);
  scrollbar-width: thin;
}

/* Largura da barra (Vertical e Horizontal) */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* O fundo (trilho) por onde a barra corre */
::-webkit-scrollbar-track {
  background: var(--cor-azul-forte);
}

/* A "pega" da barra (o polegar) */
::-webkit-scrollbar-thumb {
  background: var(--cor-roxo-escuro);
  border-radius: 10px;
  /* Nota: Transições em scrollbars nem sempre são renderizadas por todos os browsers, mas não quebram o código */
  transition: background 0.3s;
}

/* Estado de Hover na barra */
::-webkit-scrollbar-thumb:hover {
  background: var(--cor-roxo-escuro);
}
