@import './assets/css/index.css';

body {
  background-color: var(--cor-azul-forte);
  background-image: radial-gradient(circle at 15% 10%, rgba(51, 160, 255, 0.08) 0%, transparent 40%), linear-gradient(160deg, var(--cor-azul-forte) 40%, var(--cor-azul-escuro) 190%);
  background-attachment: fixed;
  width: 100vw;
  height: 100dvh;
  text-align: center;
}
#root {
  margin: 3rem auto;
  max-width: 500px;
}

.title {
  font-family: var(--bold);
  font-size: var(--f9);
  margin: 10px;
}

.NomeLista{
  font-family: var(--light);
}

.BgList, .BgInputs{
  border: solid 1px var(--cor-branco);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1000000000px);  
  -webkit-backdrop-filter: blur(10px); 
}
.ButtonForm{
  font-family: var(--semibold);
  font-size: var(--f3);
}
input{
  font-family: var(--light);
  background: transparent;
  border: solid 2px var(--cor-azul-claro);
}